* {
	margin: 0;
}

body {
	font-family: 'Caveat', cursive;

	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100%; /* Современные браузеры */
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	width: 100%;
	height: 100%;
}

section {
	padding-top: 4vh;
}

.main-header {
	font-size: 64px;
	text-align: center;
	color: white;
	text-shadow: 16px 16px 16px #000;
}

.buttons {
	text-align: center;
}

label {
	color: white;
	font-size: 32px;
}

tr, td, table {
	border: 3px solid purple;
}

table {
	display: inline-block;
}

.table-map {
	text-align: center;
}

td {
	width: 6vh;
	height: 6vh;
	background-color: white;

	transition: 0.2s linear;
}

td:hover {
	border-color: red;
}